@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root {
    --dark: rgb(25,25,25);
    --light: rgb(210,210,210)
}

body{
    margin: 0;
    overflow-x:hidden;
}

*::-webkit-scrollbar{
    width: 3px;
    background-color: var(--dark);
}

*::-webkit-scrollbar-thumb{
    background-color:var(--light);
    width: 3px;
}

.landingPage{
    height: 100vh;
    width: 100vw;
    background-color: var(--dark);
    background-image: url("./photo-1600585154340-be6161a56a0c.jfif");
    background-attachment: fixed;
    /* background-size: cover; */
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-position: bottom;
}

.logo{
    position: fixed;
    height: fit-content;
    width: fit-content;
    margin: 20px
}

.titleBar{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    width: auto;
    backdrop-filter: blur(3px);
    padding: 50px;
    border: 2px var(--light) solid;
    background-color: rgba(0,0,0,0.8);
}

.title{
    position: relative;
    color: var(--light);
    font-size: 100px;
    font-family: 'Playfair Display', serif;
}

.bar{
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px var(--light) solid;
}

.goto{
    background-color: rgba(0,0,0,0);
    color: var(--light);
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    border: none;
    margin-bottom: 20px
}

.goto:hover{
    animation: gotoHover 0.3s forwards ease-in-out;
}

@keyframes gotoHover {
    0%{
        color: var(--light);
    }
    100%{
        color: rgb(255,255,255);
    }
}

.aboutPage{
    background-image: url("./275733462_284343423778166_3525976417585391731_n.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}

.aboutContainer{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.aboutBox{
    position: relative;
    border: 2px var(--light) solid;
    backdrop-filter: blur(3px);
    height: 700px;
    width: 500px;
}

.aboutBox h1{
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    color: var(--light);
    margin-left: 30px;
    text-decoration-line:underline;
    text-decoration-thickness: 2px;
    text-underline-position:under;
}

.aboutBox p{
    margin: 35px;
    font-family: 'Playfair Display', serif;
    color: var(--light);
    line-height: 2;
}

.projectPage{
    /* background-image: linear-gradient(45deg,rgb(0, 34, 54), rgb(54, 32, 0)); */
    background-image: url('./white-triangle-pattern-seamless-background-2.jpg');
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.projectPage h1{
    font-size: 100px;
    font-family: 'Playfair Display', serif;
    color: var(--dark);
    margin:0;
    margin-left: 100px;
    font-weight: normal;
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    align-self:baseline
}

.featureContainer{
    width: 90vw;
    height: calc(80vh - 100px);
    background-color: rgba(0,0,0,0.2);
    /* border: 3px solid var(--light); */
    left: 50%;
    /* transform: translate(-50%); */
    display:flex;
    flex-direction: row;
}

.slide{
    width: 70%;
    height: 100%;
    /* background-color: var(--light); */
    display:flex;
    flex-direction: row;
    overflow-x: auto;
}

.slide::-webkit-scrollbar{
    height: 10px;
    background-color: rgba(0,0,0,0);
}

.slide::-webkit-scrollbar-thumb{
    background-color:grey;
    width: 3px;
}

.ourPromise{
    width: 30%;
    height: 100%;
    border-left: 10px solid white;
    align-self: flex-start;
    overflow-y: auto;
}

.ourPromise h1{
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    color: var(--dark);
    margin-left: 30px;
    text-decoration-line:underline;
    text-decoration-thickness: 2px;
    text-underline-position:under;
    margin-top: 20px;
}

.ourPromise p{
    margin: 10%;
    font-family: 'Playfair Display', serif;
    color: var(--dark);
    line-height: 2;
}

.contact{
    height: 35vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: url("./white-triangle-pattern-seamless-background-2.jpg");
}

.contact a, h1{
    color: var(--dark);
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: lighter;
}
