@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root {
    --dark: rgb(25,25,25);
    --light: rgb(210,210,210);
    --gold:rgb(164, 134, 0);
}

body{
    margin: 0;
    overflow-x:hidden;
    background-image: url("pictures/DJI_0030.jpg");
    background-position: center center;
    background-size: auto 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: var(--dark);
}

*::-webkit-scrollbar{
    width: 6px;
    background-color: var(--dark);
}

*::-webkit-scrollbar-thumb{
    background-color:var(--gold);
    width: 3px;
    border-radius: 3px;
}

.landingPage{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.6);
}

.logo{
    position: fixed;
    height: fit-content;
    width: fit-content;
    margin: 20px
}

.titleBar{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    width: auto;
    backdrop-filter: blur(3px);
    padding: 50px;
    border: 2px var(--light) solid;
    background-color: rgba(0,0,0,0.4);
}

.title{
    position: relative;
    color: var(--light);
    font-size: 100px;
    font-family: 'Playfair Display', serif;
    width:max-content
}

.bar{
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px var(--light) solid;
}

.goto{
    background-color: rgba(0,0,0,0);
    color: var(--light);
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    border: none;
    margin-bottom: 20px;
    transition: color 0.3s ease-in-out;
}

.goto:hover{
    color: var(--gold);
}

.aboutPage{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    min-height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.6);
}

.aboutContainer{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.aboutBox{
    position: relative;
    border: 2px var(--light) solid;
    backdrop-filter: blur(3px);
    background-color: rgba(0,0,0,0.4);
    height: auto;
    width: 500px;
}

.aboutBox h1{
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    color: var(--gold);
    margin-left: 30px;
    text-decoration-line:underline;
    text-decoration-thickness: 2px;
    text-underline-position:under;
}

.aboutBox p{
    margin: 35px;
    font-family: 'Playfair Display', serif;
    color: var(--light);
    line-height: 2;
}

.projectPage{
    background-color: var(--light);
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-repeat: no-repeat;
}

.projectPage h1{
    font-size: 100px;
    font-family: 'Playfair Display', serif;
    color:rgb(78, 78, 78);
    margin:80px;
    margin-left: 100px;
    font-weight: normal;
    align-self:center
}

.featureContainer{
    width: 90vw;
    height: calc(80vh - 100px);
    background-color: rgba(0,0,0,0.2);
    left: 50%;
    display:flex;
    flex-direction: row;
}

.slide{
    width: 70%;
    height: 100%;
    display:flex;
    flex-direction: row;
    overflow-x: auto;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0,0,0,0.4);
    border: 2px var(--light) solid;
    cursor: default;
}

.slide #works img{
    height: auto;
    width: 100%;
    
}

#gallery{
    transition: opacity ease-in-out 0.5s;
}

.slide::-webkit-scrollbar{
    height: 6px;
    background-color: rgba(0,0,0,0);
}

.slide::-webkit-scrollbar-thumb{
    background-color:var(--gold);
    border-radius: 3px;
}

.ourPromise{
    width: 30%;
    height: 100%;
    border: 2px var(--gold) solid;
    background-color: rgba(0,0,0,0.8);
    backdrop-filter: blur(3px);
    align-self: flex-start;
    overflow-y: auto;
    margin: 0 0 50px 0;
}

.ourPromise h1{
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    color: var(--gold);
    margin-left: 30px;
    text-decoration-line:underline;
    text-decoration-thickness: 2px;
    text-underline-position:under;
    margin-top: 20px;
}

.ourPromise p{
    margin: 10%;
    font-family: 'Playfair Display', serif;
    color: var(--light);
    line-height: 2;
}

.galleryWrap{
    /* background-color: rgba(0,0,0,0.6); */
    /* margin: 50px 0 0 0; */
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
}

.images{
    position:relative;
    border-radius: 10px;
    height:50vh;
    width:auto;
    max-width: 100vw;
    margin: 0 0 50px 0;
    transition: box-shadow 0.3s ease-in-out, height 0.3s ease-in-out;
}

.images:hover{
    box-shadow: 20px 20px 30px rgba(164, 134, 0, 0.472);
    height: 50.4vh;
}

.contact{
    padding-top: 80px;
    padding-bottom: 80px;
    height: 35vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0,0,0,0.6);
}

.contact a, h1{
    color: var(--light);
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: lighter;
}

#imageViewer{
    position:fixed;
    height: 100vh;
    width: 100vw;
    left:0px;
    top:0px;
    background-color: rgba(0,0,0,0.8);
    visibility: hidden;
}

#closeViewer{

}